---
layout: default
title: Home
---


  
  {% include masthead.html %}

  <div class="container content">

    <div class="posts">
      {% for post in paginator.posts %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{site.url}}{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {% if post.image %}
          <div class="post-img-wrap">
            <img src="{{ site.url }}images/{{ post.image }}">
          </div>
        {% endif %}

        {{ post.content }}
      </div>
      {% endfor %}
    </div>

    <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.url }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older">Older</span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.url }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.url }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer">Newer</span>
      {% endif %}
    </div>
  </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
  (function(document) {
    var toggle = document.querySelector('.sidebar-toggle');
    var sidebar = document.querySelector('#sidebar');
    var checkbox = document.querySelector('#sidebar-checkbox');

    document.addEventListener('click', function(e) {
      var target = e.target;

      if(!checkbox.checked ||
         sidebar.contains(target) ||
         (target === checkbox || target === toggle)) return;

      checkbox.checked = false;
    }, false);
  })(document);
</script>

